<!DOCTYPE html>
<html>
<head>
  <title></title>
   <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <!-- owl carousel-->
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <script type="text/javascript" href=""></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

  <!-- Start Header Code  -->
  <div class="container-fluid">
    <div class="row" style=" background-color: black;color: white;">
      <div class="col-sm-2"><a href="/"><img src="/images/HS.jpg" class="mx-auto d-block" style="height: 50px;"></a></div>
      <div class="col-sm-7">
            <div class="input-group" style="margin-top: 7px;">
              <input type="text" class="form-control" placeholder="Search this blog">
              <div class="input-group-append">
                 <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                 </button>
              </div>
            </div>   
      </div>
      <div class="col-sm-3">
          <div style="float: left;margin-right: 20px;">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: black;border: 0;"data-toggle="dropdown">
                <div>
                  <a style="cursor: pointer;float: left;"><img src="/images/login-icon.png" height="30px">
                    Hello,
                    <div style="margin-left: 15px;">
                      {{user.name}}
                    </div>
                  </a>
                </div>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Your Account</a>
                    <a class="dropdown-item" href="#">Your Order</a>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
            </div>
            <div style="float: left;">
                <a href="/home/cart" style="cursor: pointer;">
                  <img src="/images/cart.png" height="30px" style="margin-top: 10px;float: left;">
                      <p style="float: left;margin-top: 12px;color: white;">Cart</p>
                </a>
            </div>
      </div>
    </div> 
  </div>
</div>
  <!-- End Header Code -->
<div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Checkout - Delivery method</li>
                </ol>
              </nav>
            </div>
            <div id="checkout" class="col-lg-9">
              <div class="box">
                <form method="get" action="https://demo.bootstrapious.com/obaju/2-1/checkout3.html">
                  <h1>Checkout - Delivery method</h1>
                  <div class="nav flex-column flex-sm-row nav-pills">
                    <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center"> 
                      <i class="fa fa-map-marker"></i>Address
                    </a>
                    <a href="checkout2.html" class="nav-link flex-sm-fill text-sm-center active"> 
                      <i class="fa fa-truck"></i>Delivery Method
                    </a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
                      <i class="fa fa-money"></i>Payment Method
                    </a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
                      <i class="fa fa-eye"></i>Order Review
                    </a>
                  </div>
                  <div class="box-footer d-flex justify-content-between">
                    <a href="/home/checkout1" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to address
                    </a>
                    <a type="submit" href="/home/checkout3" class="btn btn-primary">Continue to Payment Method<i class="fa fa-chevron-right"></i>
                    </a>
                  </div>
                </form>
              </div>
              <!-- /.box-->
            </div>
            <!-- /.col-md-9-->
            <div class="col-md-3">
              <div id="order-summary" class="card">
                <div class="card-header">
                  <h3 class="mt-4 mb-4">Order summary</h3>
                </div>
                <div class="card-body">
                  <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Order subtotal</td>
                          <th>$446.00</th>
                        </tr>
                        <tr>
                          <td>Shipping and handling</td>
                          <th>$10.00</th>
                        </tr>
                        <tr>
                          <td>Tax</td>
                          <th>$0.00</th>
                        </tr>
                        <tr class="total">
                          <td>Total</td>
                          <th>$456.00</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-md-3-->
          </div>
        </div>
      </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="/js/front.js"></script>
</body>
</html>